.calendar-section {
  margin-top: 40px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.for-box {
  .row {
    display: flex;
  }
  &__boxes-blue {
    background: #05b4cd;
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
  }
  &__boxes-red {
    background: #ba2b36;
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
  }
  &__boxes-yellow {
    background: #fdb900;
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
  }
  &__title {
    font-size: 30px;
    padding: 10px;
    color: #ffffff;
    padding: 23px;
    position: absolute;
  }
  &__text {
    font-size: 30px;
    color: #ffffff;
    padding: 15px;
    float: left;
    img {
      padding-top: 20px;
      height: 230px;
    }
  }
  &__small-text {
    font-size: 10px;
    padding: 0;
  }
  &__big-text {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding: 74px 107px 10px 10px;
  }
  &__date {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    margin-top: -15px;
    position: absolute;
  }
  &__review {
    padding: 19px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFF;
  }
}

.gazette {
  padding: 35px 40px;
  &__heading {
    font-family: $Calibri;
    font-size: 40px;
    line-height: 0.65;
    text-align: left;
    margin: 0;
    margin-bottom: 35px;
    color: #ffffff;
    @media (max-width: 1600px) {
      font-size: 30px;
    }
  }
  &__content {
    display: flex;
    &-image {
      width: 168px;
      box-shadow: 4.5px 7.8px 10px 0 rgba(0, 0, 0, 0.21);
      @media (max-width: 1600px) {
        width: 130px;
      }
    }
    &-text {
      padding-left: 32px;
    }
    &-title {
      font-family: $Calibri;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.08;
      text-align: left;
      color: #ffffff;
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          color: #ffffff;
        }
      }
      @media (max-width: 1600px) {
        font-size: 18px;
      }
    }
    &-date {
      opacity: 0.6;
      font-family: $Calibri;
      font-size: 18px;
      line-height: 1.44;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
      @media (max-width: 1600px) {
        font-size: 15px;
      }
    }
    &-paragraph {
      font-family: $Calibri;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
      text-align: left;
      color: #ffffff;
      @media (max-width: 1600px) {
        font-size: 15px;
      }
    }
  }
  &__see-all {
    font-family: $Calibri;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin: 24px 0;
    display: inline-block;
    text-decoration: none;
    i {
      display: inline-block;
      margin-left: 0px;
      transform: translateX(0px) translateY(-2px);
      transition: all 0.4s;
      &:after {
        content: "";
        display: block;
        float: right;
        width: 7px;
        height: 7px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(45deg);
        margin-left: 5px;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      i {
        transform: translateX(3px) translateY(-2px);
      }
    }
  }
}

.announcement {
  padding: 35px 40px;
  &__heading {
    font-family: $Calibri;
    font-size: 40px;
    line-height: 0.65;
    text-align: left;
    margin: 0;
    margin-bottom: 35px;
    color: #ffffff;
    @media (max-width: 1600px) {
      font-size: 30px;
    }
  }
  &__table {
    tr {
      td {
        padding: 15px 0;
        a {
          display: block;
          text-decoration: none;
          color: #fff;
          transition: all 0.4s;
          &:hover {
            color: #fff;
            transform: translateX(5px);
          }
        }
        @media (max-width: 1600px) {
          padding: 10px 0px;
        }
        &:first-child {
          width: 100px;
          vertical-align: top;
          opacity: 0.6;
          font-family: $Calibri;
          font-size: 18px;
          line-height: 1.44;
          text-align: left;
          color: rgba(255, 255, 255, 0.6);
          @media (max-width: 1600px) {
            font-size: 14px;
          }
        }
        &:last-child {
          font-family: $Calibri;
          font-size: 18px;
          font-weight: normal;
          line-height: 1.44;
          text-align: left;
          padding: 15px 20px;
          color: #ffffff;
          @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 15px;
          }
        }
      }
      &:not(:last-child) {
        td {
          border-bottom: 1px solid rgba(#ffffff, 0.4);
        }
      }
    }
  }
  &__see-all {
    font-family: $Calibri;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
    i {
      display: inline-block;
      margin-left: 0px;
      transform: translateX(0px) translateY(-2px);
      transition: all 0.4s;
      &:after {
        content: "";
        display: block;
        float: right;
        width: 7px;
        height: 7px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(45deg);
        margin-left: 5px;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      i {
        transform: translateX(3px) translateY(-2px);
      }
    }
  }
}

.calendar {
  padding: 35px 40px;
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__tabs {
    list-style-type: none;
    display: flex;
    &-panel {
      display: none;
      &:first-child {
        display: block;
      }
    }
    &-item {
      padding: 0px 15px;
      @media (max-width: 1600px) {
        padding: 0px 10px;
      }
      a {
        font-family: $Calibri;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        transition: all 0.4s;
        opacity: 0.3;
        padding: 2px 0px;
        display: inline-block;
        border-bottom: 3px solid transparent;
        @media (max-width: 1600px) {
          font-size: 14px;
          padding: 1px 0px;
          border-bottom: 2px solid transparent;
        }
        &:hover,
        &.active {
          opacity: 1;
          text-decoration: none;
          border-color: #f2bd05;
        }
      }
    }
  }
  &__heading {
    font-family: $Calibri;
    font-size: 40px;
    line-height: 0.65;
    text-align: left;
    margin: 0;
    margin-bottom: 35px;
    color: #ffffff;
    @media (max-width: 1600px) {
      font-size: 30px;
    }
  }
  &__table {
    tr {
      td {
        padding: 15px 0;
        a {
          display: block;
          text-decoration: none;
          color: #fff;
          transition: all 0.4s;
          &:hover {
            color: #fff;
            transform: translateX(5px);
          }
        }
        @media (max-width: 1600px) {
          padding: 10px 0px;
        }
        &:first-child {
          width: 100px;
          vertical-align: top;
          opacity: 0.6;
          font-family: $Calibri;
          font-size: 18px;
          line-height: 1.44;
          text-align: left;
          color: rgba(255, 255, 255, 0.6);
          @media (max-width: 1600px) {
            font-size: 14px;
          }
        }
        &:last-child {
          font-family: $Calibri;
          font-size: 18px;
          font-weight: normal;
          line-height: 1.44;
          text-align: left;
          padding: 15px 20px;
          color: #ffffff;
          @media (max-width: 1600px) {
            font-size: 14px;
            padding: 10px 15px;
          }
        }
      }
      &:not(:last-child) {
        td {
          border-bottom: 1px solid rgba(#ffffff, 0.4);
        }
      }
    }
  }

  &__see-all {
    font-family: $Calibri;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
    i {
      display: inline-block;
      margin-left: 0px;
      transform: translateX(0px) translateY(-2px);
      transition: all 0.4s;
      &:after {
        content: "";
        display: block;
        float: right;
        width: 7px;
        height: 7px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(45deg);
        margin-left: 5px;
        transition: all 0.3s;
      }
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      i {
        transform: translateX(3px) translateY(-2px);
      }
    }
  }
}
