.contact-section {
  text-align: center;
  margin-top: 40px;
  &__items {
    padding: 25px;
  }
  &__text {
    color: #ba2b36;
  }
  &__image-items {
    width: 30px;
  }
  &__titles {
    font-weight: 700;
    color: #4e4e4e;
    line-height: 25px;
  }
  &__address {
    color: #4e4e4e;
  }
  &__span-style {
    color: #ba2b36;
    &:hover {
      border-bottom: 2px solid;
    }
  }
}

.yellow-tab {
  &__social-image {
    max-width: 100%;
  }
  &__social-text {
    color: #4e4e4e;
    width: 88%;
    padding-left: 20%;
  }
}
