.departaments {
  &__text {
    text-align: center;
    color: #ba2b36;
    padding-top: 80px;
  }
  &__paragraph {
    text-align: center;
    color: #4e4e4e;
  }
}

.boxes {
  margin-top: 20px;
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
  }
  &__text {
    margin: 0;
    height: 80px;
    background: #fdb900;
    text-align: center;
    padding-top: 17px;
  }
}
