.footer-section {
  background: #5b5b5b;
  &__list {
    height: 240px;
    padding: 47px 137px;
    &-heading {
      font-size: 16px;
    }
  }
  &__list-title {
    font-size: 15px;
    color: #bfbfbf;
    font-weight: 700;
    letter-spacing: 1.6px;
    height: 180px;
    a {
      text-decoration: none;
      color: #bfbfbf;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__list-size {
    font-size: 13px !important;
  }
  &__list-text {
    list-style: none;
    padding: 0;
    font-size: 12px;
    li {
      padding: 2px;
      font-size: 12px;
    }
  }
}
