.gallery {
  &-wrapper {
    width: 960px;
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
  }
  &__item {
    img {
      width: 100%;
    }
  }
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 20px);
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    &:before {
      content: "";
      transform: rotate(45deg);
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid #363636;
      border-right: 2px solid #363636;
      transition: all 0.4s;
    }
    &:hover {
      &:before {
        border-color: #fff !important;
      }
      background: #fdb900;
    }
  }
  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 20px);
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    &:before {
      content: "";
      transform: rotate(-45deg);
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid #363636;
      border-left: 2px solid #363636;
      transition: all 0.4s;
    }
    &:hover {
      &:before {
        border-color: #fff !important;
      }
      background: #fdb900;
    }
  }
  &-nav {
    margin-top: 15px;

    .slick-track {
      min-width: 100% !important;
    }
    &__item {
      padding: 5px;
      box-sizing: border-box;
      cursor: pointer;
      img {
        width: 100%;
        opacity: 0.5;
      }
      &:after {
        content: "";
        height: 3px;
        width: 100%;
        display: block;
        background: transparent;
        margin-top: 5px;
        transition: all 0.4s;
      }
    }
    .slick-current {
      img {
        opacity: 1;
      }
      .gallery-nav__item {
        &:after {
          background: #fdb900;
        }
      }
    }
    * {
      outline: none !important;
    }
  }
}
