.logo-section{
    text-align: center;
    padding: 60px;

    &__text{
        font-weight: 700;
        color: #4e4e4e;
        padding-top: 10px;
    }
    &__border{
        border-right: 1px solid #E9E9E9;
    }

}