.navbar-default {
  background: white;
  border: none;
  .navbar-brand {
    display: block;
    margin-top: 24px;
    padding: 0;
    height: auto;
    &__img {
      height: 76px;
      transform: translateY(15px);
      opacity: 0;
      &--sm {
        display: none;
        height: 43px;
      }
      @media (max-width: 1600px) {
        height: 70px;
      }
    }
  }
}

.navbar-nav {
  &:not(.navbar-right) {
    margin-bottom: 5px;
    margin-left: 50px;
    @media (max-width: 1600px) {
      margin-left: 25px;
    }
  }
  &__flag {
    padding: 0 !important;
    img {
      border: solid 1px #dddddd;
      height: 16px;
    }
  }
  &__fb {
    padding: 0 !important;
    margin: 0 25px;
    @media (max-width: 1600px) {
      margin: 0 15px;
    }
    img {
      height: 14px;
    }
  }
  &:not(.navbar-right) {
    float: initial !important;
    margin: auto;
    .navbar-nav-list {
      position: initial !important;
      padding: 0;
      > a {
        border-bottom: 2px solid transparent;
        transition: all 0.4s;
        padding: 0 20px !important;
        position: relative;
        display: block;
        z-index: 10;
        @media (max-width: 1600px) {
          font-size: 15px;
          padding: 0 15px !important;
        }
      }
      &__dropdown {
        display: none;
        position: absolute;
        visibility: hidden;
        width: 80%;
        left: 10%;
        right: 10%;
        background: rgba(#ffffff, 0.95);
        padding: 30px;
        box-sizing: border-box;
        z-index: 5;
        opacity: 0;
        transform: translate3d(0, -20px, 0);
        // transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
        &-container {
          display: flex;

          .navbar-nav-list__dropdown-description {
            transform: translateY(15px);
            opacity: 0;
            transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
          }

          .navbar-nav-list__dropdown-list {
            transform: translateY(15px);
            opacity: 0;
            transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
          }
        }
        &-description {
          padding: 0 50px;
          box-sizing: border-box;
          width: calc(100% - 430px);
          @media (max-width: 1600px) {
            width: calc(100% - 280px);
            padding: 0 30px;
          }
          img {
            float: left;
            width: 364px;
            margin-right: 25px;
            margin-top: 5px;
            @media (max-width: 1600px) {
              width: 300px;
            }
          }
          font-family: $Calibri;
          font-size: 16px;
          line-height: 1.5;
          text-align: left;
          color: #1a1a1a;
          @media (max-width: 1600px) {
            font-size: 14px;
          }
        }
        &-list {
          width: 430px;
          list-style-type: none;
          border-left: 1px solid rgba(#000, 0.1);
          padding: 0 30px;
          @media (max-width: 1600px) {
            width: 280px;
          }
          &-item {
            display: block;
            transition: all 0.4s;
            &:hover {
              transform: translateX(5px);
            }
            a {
              font-family: $Calibri;
              font-size: 16px;
              display: block;
              font-weight: bold;
              line-height: 1.5;
              letter-spacing: 0.8px;
              text-align: left;
              color: #ba2b36;
              @media (max-width: 1600px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      &:hover .navbar-nav-list__dropdown {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: 0s, 0s, 0.3s;
        .navbar-nav-list__dropdown-description {
          transform: translateY(0px);
          opacity: 1;
        }

        .navbar-nav-list__dropdown-list {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
    .navbar-nav-list {
      > a {
        position: relative;
        &:before {
          content: "";
          visibility: visible;
          background: transparent;
          width: 100%;
          height: 3px;
          position: absolute;
          transition: all 0.5s;
          top: 100%;
          left: 20px;
          width: calc(100% - 40px);
          @media (max-width: 1600px) {
            left: 15px;
            width: calc(100% - 30px);
          }
        }
      }
      &:hover > a:before,
      &--active > a:before {
        background: #fdb900;
      }
    }
  }
  &-href {
    font-size: 16px;
    color: #4e4e4e !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 !important;
    line-height: 1.67;
    letter-spacing: 0.9px;
    @media (max-width: 1600px) {
      font-size: 15px;
    }
  }
  &.navbar-right {
    margin-bottom: 5px;
    float: initial !important;
    margin-right: 0 !important;
    .navbar-nav-list {
      padding: 0;
    }
  }
}

.navbar-container {
  @media (min-width: 768px) {
    display: flex;
    .collapse {
      flex-grow: 1;
    }
  }
}

.navbar {
  z-index: 10;
  &-container {
    position: relative;
    z-index: 10;
  }
  &-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 10;
    &--bordered {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    &.fixed {
      position: fixed;
      width: 100%;
      z-index: 100;
      top: 0;
      transform: translateY(-90px);
      animation: navbar 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      &.end-fixed {
        animation: navbarTwo 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      }
      .top-menu__list {
        display: none;
      }
      .navbar-brand__img {
        display: none;
      }
      .navbar-brand__img--sm {
        display: block;
      }
      .collapse {
        height: 85px !important;
      }
      .navbar-wrapper {
        margin-top: -55px;
      }
      & + * {
        margin-top: 141px;
      }
      .navbar-nav-href {
        animation: fadeDown cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
      }

      .navbar-wrapper--bordered {
        border: none;
      }
    }
  }
}

.navbar:not(.fixed) {
  .navbar-wrapper {
    transform: translateY(15px);
    opacity: 0;
  }

  .top-menu__list {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes navbar {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes navbarTwo {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-90px);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  30% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
