.news-section {
  padding-top: 50px;

  &__image {
    max-width: 749px;
    width: calc(55% - 20px);
    margin-right: 20px;
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
  &__text {
    width: 45%;
    &-paragraph {
      font-size: 18px;
      line-height: 1.44;
      text-align: left;
      color: #4e4e4e;
      margin-top: 25px;
    }
    h4 {
      margin: 0;
      a {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.18;
        text-align: left;
        color: #3d3d3d;
      }
    }
  }
  &__left {
    padding: 17px 62px;
  }

  &__title {
    text-align: center;
    font-size: 60px;
    color: #ba2b36;
  }
  &__right {
    font-size: 22px;
    font-weight: bold;
  }
  &__right-text {
    color: #2b2b2b;
    &:hover {
      color: #2b2b2b !important;
    }
  }
  &__paragraph {
    font-size: 18px;
    color: #4e4e4e;
    padding-top: 10px;
  }
  &__date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 1.44;
    display: block;
    margin: 20px 0;
  }
}
.news-date-picker {
  margin-top: 50px;
  text-align: center;
  input.range-picker {
    margin: auto;
    width: 200px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    outline: none;
    cursor: pointer;
    padding: 15px;
  }
}
.news-images {
  padding: 20px;
  &__wrapper {
    display: flex;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

li a {
  font-size: 12px;
  color: #2b2b2b;
  font-weight: bold;
}

.pagenation-section {
  margin-top: 100px;
  &__code {
    text-align: center;
  }

  &__arrow-right::before {
    content: "";
    border: solid #fdb900;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-bottom: 1.5px;
  }

  &__arrow-right:hover::before {
    border-color: white;
  }
  &__arrow-left::after {
    content: "";
    border: solid #fdb900;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 1.5px;
  }

  &__arrow-left:hover::after {
    border-color: white;
  }
  .pagination > li > span.disabled,
  .pagination > li > span.active {
    cursor: default;
  }
  .pagination > li > a,
  .pagination > li > span {
    border: none !important;
    color: #2b2b2b;
    font-size: 16px;
    padding: 12px 16px;
    transition: all 0.4s;
    min-width: 45px;
  }
  .pagination > li {
    display: inline-block;
  }
  .pagination > li > a:hover,
  .pagination > li > a.active,
  .pagination > li > a:active {
    background: #fdb900;
    color: white;
    border-color: white;
  }

  .pagination > li > span:hover,
  .pagination > li > span.active,
  .pagination > li > span:active {
    background: #fdb900;
    color: white;
    border-color: white;
  }
}

.images-section {
  padding-left: 5.7%;
}
