.welcome {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__logo {
    display: block;
    background: url(../images/logo.svg) no-repeat center;
    width: 200px;
    height: 200px;
    background-size: 100% auto;
  }
  &__heading {
    font-size: 20px;
  }
}
